<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
	<header class="header">
		<div class="container">
		<div class="btn-menu">
			<label for="btn-menu">☰</label>
		</div>
			<div class="logo">
				<h1>Logotipo</h1>
			</div>
			<nav class="menu">
				<a href="#">Inicio</a>
				<a href="#">Nosotros</a>
				<a href="#">Blog</a>
				<a href="#">Contacto</a>
				<a href="/preguntaSeguridad">Seguridad</a>
        <button type="button" class="btn btn-danger" (click)="logout()">Cerrar Sesión</button>
			</nav>
		</div>
	</header>
	<div class="capa"></div>
<!--	--------------->
<span class="welcome-message">¡Bienvenido {{usuario.nombre}} {{usuario.apellido}}!</span>
<input type="checkbox" id="btn-menu">
<div class="container-menu">
	<div class="cont-menu">
		<nav>
			<a href="#"><b>Usuarios</b></a>
			<a href="#"><b>Empresa</b></a>
			<a href="#"><b>Sucursal</b></a>
		</nav>
		<label for="btn-menu">✖️</label>
	</div>
</div>

</body>
</html>
